<ul class="sidebar">
    <li>
        <h5><span class="glyphicon glyphicon-tags"></span> 标签</h5>
        <ul>
            {% for tag in tags %}
            <li><a href="{% url 'tag' tag %}">{{ tag.tag }}&nbsp;({{tag.post_set.count }})</a></li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h5><span class="glyphicon glyphicon-folder-open"></span> 存档</h5>
        <ul>
            {% for archive in archives %}
            <li><a href="{% url 'archive' archive.year archive.month %}">{{ archive.year }}年{{ archive.month }}月&nbsp;({{ archive.id__count }})</a></li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h5><span class="glyphicon glyphicon-link"></span> 链接</h5>
        <ul>
            {% for link in links %}
            <li><a href="#">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
