<ul class="sidebar">
    <li>
        <h4><i class="fa fa-tags fa-lg"></i> 标签</h4>
        <ul>
            {% for tag in tags %}
            <li><a href="{% url 'tag' tag %}">{{ tag.tag }}&nbsp;({{tag.post_set.count }})</a></li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h4><i class="fa fa-archive fa-lg"></i> 存档</h4>
        <ul>
            {% for archive in archives %}
            <li><a href="{% url 'archive' archive.year archive.month %}">{{ archive.year }}年{{ archive.month }}月&nbsp;({{ archive.id__count }})</a></li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h4><i class="fa fa-link fa-lg"></i> 链接</h4>
        <ul>
            {% for link in links %}
            <li><a href="{{ link.link }}">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
