{% extends "base.html" %}
{% load blog_extras %}
{% block styles %}
{{ block.super }}
<style type="text/css">
img.align-center {
    display: block;
    margin: 20px auto;
}
</style>
{% endblock %}
{% block navbar %}
{% show_navbar 'about' user %}
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>关于我</h1>
</div>
<div class="col-md-4 col-md-offset-4">
    <img src=//cdn.v2ex.com/gravatar/ab89c8cae084f1d39d2f0b4c0203f5f2?s=200&d=identicon class="img-rounded align-center"/>
    <p><b>简介</b></p>
    <p>东北人，家乡是吉林长春。混迹于北京。目前正在学习Django框架。本网站是学习网站开发的一个成果。</p>
    <ul class="list-inline text-center">
        <li><a href="https://github.com/liuenyan/"><i class="fa fa-github  fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/liuenyan"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="http://weibo.com/liuenyan2006"><i class="fa fa-weibo fa-2x" aria-hidden="true"></i></a></li>
    </ul>
</div>
{% endblock %}
