{% extends "base.html" %}
{% load blog_extras %}

{% block title %}{% if title %}{{ title }}{% else %}主页 - 学习笔记{% endif %}{% endblock %}

{% block styles %}
{{ block.super }}
<link href="//cdn.bootcss.com/highlight.js/9.3.0/styles/github.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
{{ block.super }}
<div class="col-md-8">
    <ul class="posts">
        {% for post in posts %}
        <li class="post">
            <div class="post-title">
                <h1><a href="{% url 'post' post.id %}">{{ post.title }}</a></h1>
            </div>
            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-user"></i> {{ post.author.username }}</li>
                    <li><i class="fa fa-clock-o"></i> <span class="post-date">{{ post.creation_time | date:"c" }}</span></li>
                    <li><i class="fa fa-tags"></i>
                        {% for tag in post.tags.all %}
                        <span class="label label-primary"><a href="{% url 'tag' tag %}">{{ tag }}</a></span>&nbsp;
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="post-body">
                {{ post.body_html |truncatechars_html:200 | safe }}
            </div>
        </li>
        {% endfor %}
    </ul>
    <nav>
        <ul class="pager">
            {% if posts.has_previous %}
            <li class="previous"><a href="?page={{ posts.previous_page_number }}">前一页</a></li>
            {% else %}
            <li class="previous disabled"><a href="#">前一页</a></li>
            {% endif %}
            {% if posts.has_next %}
            <li class="next"><a href="?page={{ posts.next_page_number }}">后一页</a></li>
            {% else %}
            <li class="next disabled"><a href="#">后一页</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<div class="col-md-4">
    {% show_sidebar %}
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="//cdn.bootcss.com/moment.js/2.11.2/moment.min.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.11.2/locale/zh-cn.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.3.0/highlight.min.js"></script>
<script>
$(document).ready(function(){
    /* time from now */
    moment.locale('zh-cn');
    $('.post-date').each(function(){
        var text = moment($(this).text()).fromNow();
        $(this).text(text);
    });
    /* code highlight */
    hljs.configure({useBR: false});
    $('pre code').each(function(i, block){
        hljs.highlightBlock(block);
    });
});

</script>
{% endblock %}
