html, body {
    height: 100%;
}

body > div.container {
    min-height: 100%;
    padding-top: 50px; /* for navbar */
    padding-bottom: 80px; /*for footer */
}

ul.posts {
    list-style-type: none;
    padding: 0px; 
}

li.post {
    padding: 10px 0px;
    border-bottom-color: #dddddd;
    border-bottom-style:solid;
    border-bottom-width: 2px;
}

.post-title {
    margin: 30px 0px;
}

.post-title a {
    text-decoration: none;
}

.post-body {
    margin: 30px 0px;
    /*font-size: 120%;
    line-height: 150%;*/
}

.post-meta {
    background-color: #f5f5f5;
}

.post-meta > ul {
    list-style-type: none;
    padding: 10px 0px;

}

.post-meta > ul > li {
    display: inline;
    margin: 5px;
}
.post-meta > ul > li > span > a {
    color: #eee;
}
.post-controls {
    min-height: 50px;
}

.post-controls > a {
    float: right;
    margin: 2px;
}

ul.comments {
    margin: 15px 0px;
    list-style-type: none;
    padding: 15px 0px;
}

.comment-odd, .comment-even {
    border-bottom-color: #dddddd;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    min-height: 80px;
}

.comment-odd {
    background-color: #f5f5f5;
}

.comment-even {
    background-color: #ffffff;
}

.comments li span a {
    color: #eee;
}

.comment-avatar {
    position: absolute;
    margin: 10px 0px;
}

.comment-body {
    margin: 0px 10px 0px 70px;
    padding: 10px 0px;
}

ul.sidebar {
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
}

ul.sidebar > li {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 10px;
    background-color: #f5f5f5;
}

ul.sidebar > li > h4 {
    padding: 10px;
}

ul.sidebar > li > ul {
    list-style-type: none;
    padding: 10px;
}

.page-footer {
    margin-top: -80px;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
    height: 80px;
    border-top-color:#dddddd;
}

