/*
.navbar {
    background-color: #1a86c0;
    border: none;
    color: #ffffff;
}*/

ul.posts {
    list-style-type: none;
    padding: 0px; 
}

li.post {
    margin: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

div.post-info, div.post-body{
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: #f5f5f5;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-radius: 5px;
}

div.post-info{
       
}

.post-controls {
    min-height: 50px;
}

.post-controls > a {
    float: right;
    margin: 2px;
}

ul.comments {
    margin: 30px 0px;
    list-style-type: none;
    padding: 0px;
}

.comment-odd, .comment-even{
    border-bottom-color: #dddddd;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    min-height: 80px;
}

.comment-odd {
    background-color: #f5f5f5;
}

.comment-even {
    background-color: #ffffff;
}

.comment-avatar {
    position: absolute;
    margin: 10px 0px;
}

.comment-body {
    margin: 0px 10px 0px 70px;
    padding: 10px 0px;
}

ul.sidebar {
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

ul.sidebar > li {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

ul.sidebar > li > h5 {
    padding: 10px;
    color: #ffffff;
    background-color: #337ab7;
}

ul.sidebar > li > ul {
    list-style-type: none;
    padding: 10px;
}

