/*
.navbar {
    background-color: #1a86c0;
    border: none;
    color: #ffffff;
}*/

ul.posts {
    list-style-type: none;
}

li.post {
    margin: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

div.post-title{
    padding: 10px 0px;
}

div.post-info{
    padding: 5px 0px;
}

div.post-body {
    padding: 5px 0px;
}

/*
ul.comments {
    margin: 10px 0px;
    list-style-type: none;
}

.comment {
    margin: 10px 0px;
    border-bottom-color: #1a86c0;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
}*/

ul.sidebar {
    list-style-type: none;
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

ul.sidebar > li {
    border-bottom-color: #1a86c0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

ul.sidebar > li > h5 {
    padding: 10px;
    color: #ffffff;
    background-color: #1a86c0;
}

ul.sidebar > li > ul {
    list-style-type: none;
    padding: 10px;
}

